<div class="container">
    <div class="card">
        <div class="card-body text-light row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 d-flex justify-content-center pb-2">
                <img src="https://cdn.onlinewebfonts.com/svg/download_568657.png"
                    class="img-thumbnail bg-dark border-dark mblank-5 avatar-profile" alt="" />
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12 d-flex flex-column">
                <div class="fs-2" id="nickName">Example NickName</div>
                <div class="pt-2">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control bg-dark text-light border-secondary" id="inputEmail" disabled name="email">
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Ссылка на аватар</label>
                    <input type="text" class="form-control bg-dark text-light border-secondary" id="inputAvatar" disabled name="avatar">
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">ФИО</label>
                    <input type="text" class="form-control bg-dark text-light border-secondary" id="inputName" disabled name="name">
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control bg-dark text-light border-secondary" id="inputBirthdate" disabled name="birth-date">
                </div>
                <div class="pt-2">
                    <label for="" class="form-label">Пол</label>
                    <select class="form-select bg-dark text-light border-secondary" id="inputGender" disabled>
                        <option value="1">Мужчина</option>
                        <option value="0">Женщина</option>
                    </select>
                </div>
                <div class="d-flex align-items-start">
                    <div class="btn btn-outline-warning mt-4" id="btnEdit">Редактировать</div>
                    <div class="btn btn-outline-primary mt-4 d-none" id="btnSave">Сохранить</div>
                </div>
            </div>
        </div>
    </div>
</div>