<div class="card card-movie-catalog d-none mb-2 scale" id="sample-card">
    <div class="card-body row">
        <a class="col-xl-1 col-lg-2 col-md-2 col-sm-3 d-flex justify-content-center poster-container">
            <img src="" class="img-fluid film-poster-catalog" alt="" />
        </a>
        <a class="col-xl-9 col-lg-8 col-md-7 col-sm-9 col-12 d-flex flex-column align-items-start text-light text-decoration-none info-container">
            <div class="d-flex flex-column">
                <div class="film-name fs-4"></div>
                <div class="film-year"></div>
                <div class="d-flex mb-1">
                    <div class="film-country"></div>
                    <div class="film-genre"></div>
                </div>
                <div class="d-flex align-items-start">
                    <div class="film-rating badge text-wrap text-start"></div>
                </div>
            </div>
        </a>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm d-flex align-items-center">
            <div class="btn btn-outline-danger mt-2 btn-delete-favorites">Удалить из избранного</div>
        </div>
    </div>
</div>

<main class="container" id="movies-favorites-container">
    <p class="fs-2 pt-5 text-center text-muted" id="favorites-empty">Избранных фильмов нет</p>
</main>