<div class="container d-flex flex-column align-items-center">
    <div class="card col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12">
        <form class="card-body text-light" id="form-register">
            <div>
                <label for="" class="form-label">Логин</label>
                <input type="text" class="form-control bg-dark text-light border-secondary" id="inputUserName" name="userName">
            </div>
            <div class="row pt-2">
                <div class="col-6">
                    <label for="" class="form-label">Пароль</label>
                    <input type="password" class="form-control bg-dark text-light border-secondary" id="inputPassword" name="password">
                </div>
                <div class="col-6">
                    <label for="" class="form-label">Подтверждение пароля</label>
                    <input type="password" class="form-control bg-dark text-light border-secondary" id="inputPasswordConfirmation"
                        name="passwordConfirmation">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control bg-dark text-light border-secondary" placeholder="name@example.com" id="inputEmail" name="email"
                        aria-describedby="emailHelp">
                </div>
                <div class="col-6">
                    <label for="" class="form-label">ФИО</label>
                    <input type="text" class="form-control bg-dark text-light border-secondary" id="inputName" name="name">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-6">
                    <label for="" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control bg-dark text-light border-secondary" id="inputBirthDate" name="birthDate">
                </div>
                <div class="col-6">
                    <label for="" class="form-label">Пол</label>
                    <select class="form-select bg-dark text-light border-secondary" id="inputGender" name="gender">
                        <option value="1">Мужчина</option>
                        <option value="0">Женщина</option>
                    </select>
                </div>
            </div>
            <div class="btn btn-outline-primary mt-3" type="button" id="btn-register">Зарегистироваться</div>
        </form>
    </div>
</div>