<div class="container d-flex flex-column align-items-center">
    <div class="card text-light col-xl-6 col-lg-7 col-md-8 col-sm-9 col-12">
        <form class="card-body" id="form-login">
            <div>
                <label for="" class="form-label">Логин</label>
                <input type="text" class="form-control bg-dark text-light border-secondary" id="inputLogin" name="login">
            </div>
            <div class="pt-2">
                <label for="" class="form-label">Пароль</label>
                <input type="password" class="form-control bg-dark text-light border-secondary" id="inputPassword" name="password">
            </div>
            <div class="d-flex pt-3">
                <div class="btn btn-outline-primary" id="btn-login">Войти</div>
                <div class="btn btn-outline-secondary ms-2" id="btn-register">Зарегистироваться</div>
            </div>    
        </form>
    </div>
</div>