body {
    background-color: #151517;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #151517;
}
::-webkit-scrollbar-thumb {
    background-color: #929292;
}

.card {
    background-color: #212529;
    
}

.card-header {
    background-color: #1d2023;
}
.card-footer {
    background-color: #1d2023;
}

.film-rating {
    color: #090909;
}

.film-poster-catalog {
    height: 100px;
    width: auto;
}

.header-review {
    height: 70px;
}

.avatar-profile {
    max-height: 300px;
    width: 300px;
}

.review-avatar {
    max-width: 50px;
}

.scale {
    z-index: 10;
    transition: 0.5s;
}

.scale:hover {
    transform: scale(1.05);
}

.pagination > li > a
{
    background-color: #212529;
    color: #a7a7a7;
    border-color: #212529;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #bdbdbd;
    background-color: #212529;
    border: solid 1px #4c535b !Important;
}

.pagination > .active > a
{
    color: white;
    background-color: #212529 !Important;
    border: solid 1px #212529 !Important;
}

.pagination > .active > a:hover
{
    border: solid 1px #4c535b !Important;
}